@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.footer {
  padding: 40px 0;
  background-color: #0d1117;
  color: white;
}

.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li {
  display: inline-block;
  padding: 0 10px;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer .footer-break {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: white;
}
.bgr-header {
  background-image: url("../src/assets/bg_home.jpg");
  background-size: cover;
  background-position: center;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: red; /* Màu nền cho thanh marquee */
}

.marquee-content {
  display: inline-block;
  padding-left: 100%; /* Đệm bên trái để nội dung bắt đầu bên ngoài màn hình */
  animation: marquee 10s linear infinite;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0); /* Bắt đầu từ vị trí bên trái */
  }
  100% {
    transform: translateX(-100%); /* Di chuyển hết ra ngoài bên trái */
  }
}
